﻿@model DAL.AdminMainProgress
@{
    var MultiPreferencesData = Model.MultiPreferences;
    var SocialMediaData = Model.AllSocialMedia;
    var BottomLeftMenuData = Model.AllPages.Where(x => x.Positions.Contains("2"));
    var BottomRightMenuData = Model.AllPages.Where(x => x.Positions.Contains("3"));
}
<section class="bg-color2">
    <div class="container">
        <div class="row  padding-b40">
            <div class="col-md-3 text-center col-foo margin-t40 line-dotted">
                <h5>Güncel</h5>
                <div class="row">
                    <div class="col-md-12 text-center padding-t15  padding-b35">
                        <ul class="padding-t20">
                            @foreach (var item in BottomLeftMenuData)
                            {
                                var PageName = string.IsNullOrEmpty(item.View) ? string.Empty : DAL.Enums.PageTypes[item.View.ToLower()];
                                <li><a href="@("/" + PageName + item.FriendlyUrl)" class="text-left">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center col-foo margin-t40 line-dotted">
                <h5> Kurumsal</h5>
                <div class="row">
                    <div class="col-md-12 text-center padding-t15 padding-b15 ">
                        <ul>
                            @foreach (var item in BottomRightMenuData)
                            {
                                var PageName = string.IsNullOrEmpty(item.View) ? string.Empty : DAL.Enums.PageTypes[item.View.ToLower()];
                                <li><a href="@("/" + PageName + item.FriendlyUrl)" class="text-left">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center col-foo margin-t40 line-dotted">
                <h5> İnsan Kaynakları </h5>
                <div class="row">
                    <div class="col-md-12 text-center padding-t15 padding-b15 ">
                        <p class="text-center">
                            Lorem Ipsumlu Falan   Lorem Ipsumlu Falan   Lorem Ipsumlu Falan   Lorem Ipsumlu Falan Lorem Ipsumlu Falan   Lorem Ipsumlu Falan
                        </p>
                        <button class="btn btn-default buton3 margin-t10" type="button">İş Başvuru Formu </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center col-foo margin-t40">
                <h5> İletişim </h5>
                <div class="row">
                    <div class="col-md-12 text-center padding-t15 padding-b15 social ">
                        <h3 class="nomargint"><i class="fa fa-phone margin-r5 "></i>@MultiPreferencesData.Phone</h3>
                        <div class="row margin-t20">
                            <center>
                                @foreach (var item in SocialMediaData)
                                {
                                    <div class="col-md-2 col-md-offset-2">
                                        <a href="@item.Link" target="_blank">
                                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Image)" />
                                        </a>
                                    </div>
                                }
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/init.js"></script>
<script src="/assets/js/jquery.cslider.js"></script>