﻿@model DAL.AdminMainProgress
@{
    var MultiPreferencesData = Model.MultiPreferences;
    var AllPages = Model.AllPages.Where(x => x.Positions.Contains("1"));
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-5">
                <div style="position:relative;display:block;z-index:999">
                    <div style="position:absolute;top:20px">
                        <a href="/">
                            <img src="/assets/img/logo.png" class="text-right" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 margin-t25">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 margin-l10 pull-right">
                                <span class="margin-b20">
                                    <a href="@("/" + MultiPreferencesData.TopLink)"><i class="fa fa-map-marker margin-r5 map-icon"></i><strong>Mağazalar</strong></a>
                                </span>
                                <span class="margin-b20 margin-l10">
                                    <i class="fa fa-phone map-phone margin-r5 "></i><strong>@MultiPreferencesData.Phone</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <nav class="navbar pull-right ">
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    @foreach (var item in AllPages)
                                    {
                                        var PageName = string.IsNullOrEmpty(item.View) ? string.Empty : DAL.Enums.PageTypes[item.View.ToLower()];
                                        <li><a href="@("/" + PageName + item.FriendlyUrl)" class="text-left">@item.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line3">
    </div>
</section>