﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @if (IsSectionDefined("MetaTags"))
    {
        @RenderSection("MetaTags", false)
    }
    else
    {
        <title>@("Zırhlıoğlu")</title>
        <meta name="keywords" content="zırhlıoğlu">
        <meta name="description" content="zırhlıoğlu">
    }
    <meta name="author" content="Zırhlıoğlu">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-language" content="tr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="">
    <!-- Edge Standards Modu Çalıştır-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!--STYLE-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/silder/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/assets/css/base.css" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
    @Html.Action("_Header")
    @RenderBody()
    @Html.Action("_Footer")
</body>
</html>