﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllCampaigns = Model.AllCampaigns;
}
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="row breadcrumb-liner">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="/">Anasayfa</a></li>
                            <li class="active">Kampanyalar</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <figure>
                    <img src="/assets/img/banner1.jpg" class="img-responsive" width="100%" />
                </figure>
            </div>
            <div class="col-md-12 margin-t25">
                <h4 class="title-border">İçeriğe Göre Başlık Falan</h4>
            </div>
            @foreach (var item in AllCampaigns)
            {
                <div class="col-md-12 margin-t40">
                    <div class="row">
                        <div class="col-md-4">
                            <figure>
                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Image)" class="img-responsive" />
                            </figure>
                        </div>
                        <div class="col-md-8">
                            <h3 class="nomargint">@item.Title</h3>
                            <h4>@item.ShortContent</h4>
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="margin-t15 margin-b25 font-15 content-desc">
                                        @Html.Raw(item.Content)
                                    </p>
                                </div>
                            </div>
                            <p class="hashtag">
                                @item.Hashtags
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>