﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllCatalogs = Model.AllCatalogs;
}
<script src="/assets/js/jquery.fancybox.js?v=2.1.5"></script>
<link href="/assets/css/jquery.fancybox.css?v=2.1.5" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="row breadcrumb-liner">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="/">Anasayfa</a></li>
                            <li class="active">Katalog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-t10">
                <h4 class="title-border">İçeriğe Göre Başlık Falan</h4>
            </div>
            @foreach (var item in AllCatalogs)
            {
                <div class="col-md-3 margin-t10 margin-b25">
                    <div class="row">
                        <div class="col-md-9">
                            <figure>
                                <a class="fancybox" href="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Image)" data-fancybox-group="gallery" title="@(item.Title + " (" + Convert.ToDateTime(item.StartingDate).ToShortDateString() + " - " + Convert.ToDateTime(item.EndDate).ToShortDateString() + ")")">
                                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Thumbnail)" alt="" />
                                    <div class="arrow"><i class="fa fa-search"></i></div>
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12 icon-fa">
                            <p class="font-15 margin-t5">@item.Title</p>
                            <p><i class="fa fa-circle margin-r5 color1"></i>@item.Type</p>
                            <p><i class="fa fa-stop margin-r5 font10"></i>@(Convert.ToDateTime(item.StartingDate).ToShortDateString() + " - " + Convert.ToDateTime(item.EndDate).ToShortDateString())</p>
                            <p><a href="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.File)" target="_blank" class="download "><i class="fa fa-download margin-r5 color1"></i>PDF İndir</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>