﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MultiPreferencesData = Model.MultiPreferences;
    var SliderData = Model.AllSlider;
    var CatalogsData = Model.AllCatalogs.Take(3).OrderByDescending(x => x.StartingDate);
    var CampaignsData = Model.AllCampaigns;
    var PromotedCampaignsData = Model.AllCampaigns.Where(x => x.Promotion == true);
}
@section MetaTags{
    <title>@MultiPreferencesData.Title</title>
    <meta name="keywords" content="@MultiPreferencesData.Keywords">
    <meta name="description" content="@MultiPreferencesData.Description">
}
<!-- SliderData Start -->
<section>
    <div id="main-slider" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            @{int a = 0;}
            @foreach (var item in SliderData)
            {
                <div class="@(a == 0 ? "item active item1" : "item item1")">
                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Image)" />
                    <div class="carousel-caption col-md-3">
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <h3 data-animation="animated bounceInLeft">
                                <strong>@item.Title</strong>
                            </h3>
                        }
                        @if (!string.IsNullOrEmpty(item.Text))
                        {
                            <h3 data-animation="animated bounceInLeft">
                                <span>@Html.Raw(item.Text)</span>
                            </h3>
                        }
                    </div>
                </div>
                a++;
            }
        </div>
        <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"><</span>
        </a>
        <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">></span>
        </a>
    </div>
</section>
<!-- SliderData End -->
<!-- CampaignsData Start -->
<section>
    <div class="container-fluid bg-color1">
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <div id="main-slider1" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" style="top:50px;" role="listbox">
                        @{int b = 0;}
                        @for (int n = 0; n < CampaignsData.Count(); n++)
                        {
                            if (n % 4 == 0)
                            {
                                <div class="@(b == 0 ? "item active item2" : "item item2")">
                                    @for (int o = 0; o < 4; o++)
                                    {
                                        if (CampaignsData.Count > b)
                                        {
                                            <div class="col-md-3 col-xs-6 ">
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-6 text-center">
                                                        <div class="discount1">
                                                            <img src="/assets/img/discount.png" />
                                                        </div>
                                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + CampaignsData[b].Image)" class="img-responsive" />
                                                    </div>
                                                    <div class="col-md-8 col-xs-6 padding-t10">
                                                        <p>@CampaignsData[b].Title</p>
                                                        <h2>@CampaignsData[b].Price</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            b++;
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                    <ol class="carousel-indicators bg-ind col-md-2">
                        @{int v = 0;}
                        @for (int i = 0; i < CampaignsData.Count; i++)
                        {
                            if (i % 4 == 0)
                            {
                                <li data-target="#main-slider1" data-slide-to="@v" class="@(v == 0 ? "active" : string.Empty)"></li>
                                v++;
                            }
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CampaignsData End -->
<!-- Middle Start -->
<section class="margin-t40 margin-b40">
    <div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/img/loc.png" class="img-responsive " />
                        </div>
                        <div class="col-md-10">
                            <h4>NERELERDEYİZ</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit, sBut I must explain
                            </p>

                            <button type="button" class="btn buton1">TÜMÜNÜ GÖR</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <h4>ONLINE KATALOG</h4>
                    <div id="main-slider2" class="carousel slide" data-ride="carousel" data-interval="false" style="height:200px;">
                        <div class="carousel-inner" role="listbox">
                            @{int g = 0;}
                            @foreach (var item in CatalogsData)
                            {
                                <div class="@(g == 0 ? "item active text-center" : "item text-center")">
                                    <center>
                                        <a href="@(string.IsNullOrEmpty(item.File) ? "javascript:;" : (System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.File))" target="_blank"><img title="@g" src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Thumbnail)" class="img-responsive" /></a>
                                    </center>
                                </div>
                                g++;
                            }
                        </div>
                        <ol class="carousel-indicators carousel-indicators2">
                            @{int h = 0;}
                            @foreach (var item in CatalogsData)
                            {
                                <li data-target="#main-slider2" data-slide-to="@h" class="@(h == 0 ? "active" : string.Empty)"><span>@item.Title</span></li>
                                h++;
                            }
                        </ol>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/img/loc.png" class="img-responsive " />
                        </div>
                        <div class="col-md-10">
                            <h4>İNSAN KAYNAKLARI</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit, sBut I must explain
                            </p>

                            <button type="button" class="btn buton1">BAŞVURU FORMU</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Middle End -->
<!-- AdvertisingBanner Start -->
@if (!string.IsNullOrEmpty(MultiPreferencesData.AdvertisingBanner))
{
    <section>
        <div class="container-fluid">
            <div class="row">
                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + MultiPreferencesData.AdvertisingBanner)" style="width:100%" />
            </div>
        </div>
    </section>
}
<!-- AdvertisingBanner End -->
<!-- PromotedCampaignsData Start -->
<section class="margin-t40">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                @foreach (var item in PromotedCampaignsData)
                {
                    if (!string.IsNullOrEmpty(item.PromotionImage))
                    {
                        <div class="col-md-3 padding-b40">
                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.PromotionImage)" class="img-responsive" title="@item.Title" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- PromotedCampaignsData End -->