﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllCitiesAndCounties = Model.AllCitiesAndCounties;
    var AllStores = Model.AllStores;
    var subFriendlyUrl = ViewContext.RouteData.Values["subFriendlyUrl"];
}
@{
    if (subFriendlyUrl == null)
    {
        <script src="/assets/js/chosen.js"></script>
        <script>
            $(function () {
                $('.chosen-select').chosen();
                $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
            });
        </script>
        <section class="margin-t20">
            <div class="container-fluid">
            </div>
        </section>
        <section>
            <div class="container-fluid map-shadow">
                <div class="container">
                    <center>
                        <img src="/assets/img/maps.png" class="img-responsive text-center" />
                    </center>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row  margin-t40 ">
                    <div class="col-md-3 col-md-offset-1 ">
                        <select data-placeholder="Şehire Göre Arama" class="chosen-select" tabindex="2">
                            @foreach (var item in AllCitiesAndCounties)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control input1" placeholder="Arama">
                            <div class="input-group-btn">
                                <button type="button" class="btn buton2" aria-label="search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn buton1 width100">Liste Görünümü</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-b20">
            <div class="container-fluid margin-t40">
                <div class="row bg-color3">
                    <div class="col-md-12">
                        <h3 class="text-center color2 margin-b20">LİSTE GÖRÜNÜM</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-t10">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2  margin-b30">
                        @foreach (var item in AllStores)
                        {
                            <div class="row margin-t30 margin-b50">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="@item.FriendlyUrl"><img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Thumbnail)" class="img-responsive" /></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 padding-t50">
                                    <div class="padding-l30">
                                        <h4><a href="@item.FriendlyUrl">@item.Title</a></h4>
                                        <p class="color1">e-mail:</p>
                                        <p><a href="@("mailto:" + item.Email)" class="color3">@item.Email</a></p>
                                        <p class="color1">Adres:</p>
                                        <p>@item.Address</p>
                                        <button type="button" class="btn buton1 margin-t15">Yol Tarihi Al</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        var store = Model.AllStores.Where(x => x.FriendlyUrl == (string)subFriendlyUrl).FirstOrDefault();
        var newStores = Model.AllStores.Where(x => x.FriendlyUrl != (string)subFriendlyUrl).OrderByDescending(x => x.DataId).Take(3);
        var storeGalleries = Model.AllStoreGalleries.Where(x => x.StoreId == store.DataId);
        <script>
            var windowW, windowH, clickCondition = 0, slidesLength, IndexNext, currentSlide, currentParent, tempCheck = true;
            $(document).ready(function () {
                carousel();
                windowW = $(window).width();
                $(".leftNavSpec").click(function () {
                    var currentElement = $(this);
                    leftCarouselNav(currentElement);
                });
                $(".RightNavSpec").click(function () {
                    var currentElement = $(this);
                    rightCarouselNav(currentElement);
                });
                $(".bulletsNavSpec ul li").click(function () {
                    var currentElement = $(this);
                    navBullets(currentElement);
                });
            });
            $(window).resize(function () {
                getSliderHeight();
            });
            $(window).load(function () {
                getSliderHeight();
                carousel();
            });
            function getSliderHeight() {
                windowW = $(window).width();
                var expectedHeight = parseInt($(".SpecDataSlides").eq(0).find("img").height());
                if (windowW > 760) {
                    $(".SpecDataWrap").css("min-height", (expectedHeight - 100) + "px");
                }
                else {
                    expectedHeight = expectedHeight + parseInt($(".SpecDataSlides").eq(0).find(".SpecDesc").outerHeight()) + 40;
                    $(".SpecDataWrap").css("min-height", expectedHeight + "px");
                }
            }
            function carousel() {
                $(".SpecDataSlides").css("left", "100%");
                $(".SpecDataWrap").each(function () {
                    $(this).find(".SpecDataSlides").eq(0).css("left", "0%");
                });
            }
            function leftCarouselNav(currentElement) {
                if (clickCondition == 0) {
                    clickCondition = 1;
                    slidesLength = currentElement.parent(".SpecSlideNavigation").siblings(".SpecDataSlides").length;
                    slidesLength = slidesLength - 1;
                    currentParent = currentElement.parent(".SpecSlideNavigation");
                    currentSlide = currentParent.siblings(".activeNavSlide").index();
                    currentParent.siblings(".InActiveNavSlide").css("left", "-100%");
                    if (currentSlide != 0) {
                        IndexNext = currentParent.siblings(".activeNavSlide").index() - 1;
                    }
                    else {
                        IndexNext = slidesLength;
                    }
                    currentParent.siblings(".activeNavSlide").animate({ left: "100%" }, 1000, function () {
                        $(this).removeClass("activeNavSlide").addClass("InActiveNavSlide");
                        $(this).css("left", "100%");
                        clickCondition = 0;
                    });
                    currentParent.siblings(".SpecDataSlides").eq(IndexNext).animate({ left: "0%" }, 1000, function () {
                        $(this).removeClass("InActiveNavSlide").addClass("activeNavSlide");
                        currentElement.siblings(".bulletsNavSpec").find("ul li").removeClass("activeImage").addClass("InActiveImage");
                        currentElement.siblings(".bulletsNavSpec").find("ul li").eq(IndexNext).removeClass("InActiveImage").addClass("activeImage");
                        clickCondition = 0;
                    });
                }
            }
            function rightCarouselNav(currentElement) {
                if (clickCondition == 0) {
                    clickCondition = 1;
                    slidesLength = currentElement.parent(".SpecSlideNavigation").siblings(".SpecDataSlides").length;
                    slidesLength = slidesLength - 1;
                    currentParent = currentElement.parent(".SpecSlideNavigation");
                    currentSlide = currentParent.siblings(".activeNavSlide").index();
                    currentParent.siblings(".InActiveNavSlide").css("left", "100%");
                    if (currentSlide != slidesLength) {
                        IndexNext = currentParent.siblings(".activeNavSlide").index() + 1;
                    }
                    else {
                        IndexNext = 0;
                    }
                    currentParent.siblings(".activeNavSlide").animate({ left: "-100%" }, 1000, function () {
                        $(this).removeClass("activeNavSlide").addClass("InActiveNavSlide");
                        $(this).css("left", "100%");
                        clickCondition = 0;
                    });
                    currentParent.siblings(".SpecDataSlides").eq(IndexNext).animate({ left: "0%" }, 1000, function () {
                        $(this).removeClass("InActiveNavSlide").addClass("activeNavSlide");
                        currentElement.siblings(".bulletsNavSpec").find("ul li").removeClass("activeImage").addClass("InActiveImage");
                        currentElement.siblings(".bulletsNavSpec").find("ul li").eq(IndexNext).removeClass("InActiveImage").addClass("activeImage");
                        clickCondition = 0;
                    });
                }
            }
            function navBullets(currentElement) {
                if (clickCondition == 0) {
                    clickCondition = 1;
                    slidesLength = currentElement.parent(".SpecSlideNavigation").siblings(".SpecDataSlides").length;
                    slidesLength = slidesLength - 1;
                    currentParent = currentElement.parents(".SpecSlideNavigation");
                    currentParent.siblings(".InActiveNavSlide").css("left", "100%");
                    IndexNext = currentElement.index();
                    if (currentElement.hasClass("InActiveImage")) {
                        currentParent.siblings(".activeNavSlide").animate({ left: "-100%" }, 1000, function () {
                            $(this).removeClass("activeNavSlide").addClass("InActiveNavSlide");
                            $(this).css("left", "100%");
                            clickCondition = 0;
                        });
                        currentParent.siblings(".SpecDataSlides").eq(IndexNext).animate({ left: "0%" }, 1000, function () {
                            $(this).removeClass("InActiveNavSlide").addClass("activeNavSlide");
                            currentElement.siblings("li").removeClass("activeImage").addClass("InActiveImage");
                            currentElement.removeClass("InActiveImage").addClass("activeImage");
                            clickCondition = 0;
                        });
                    }
                    else {
                        clickCondition = 0;
                    }
                }
            }
        </script>
        <section class="margin-t20">
            <div class="container-fluid">
            </div>
        </section>
        <section>
            <div class="container-fluid map-shadow">
                <div class="container">
                    <center>
                        <img src="/assets/img/maps.png" class="img-responsive text-center" />
                    </center>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row  margin-t40 ">
                    <div class="col-md-3 col-md-offset-1 ">
                        <select data-placeholder="Şehire Göre Arama" class="chosen-select" tabindex="2">
                            <option value=""></option>
                            <option value="Istanbul">İstanbul</option>
                            <option value="Ankara">Ankara</option>
                            <option value="Izmir">İzmir</option>
                            <option value="Antalya">Antalya</option>
                            <option value="Mersin">Mersin</option>
                            <option value="Sivas">Sivas</option>
                            <option value="Bursa">Bursa</option>
                            <option value="Van">Van</option>
                            <option value="Trabzon">Trabzon</option>
                            <option value="Erzurum">Erzurum</option>
                            <option value="Amasya">Amasya</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control input1" placeholder="Arama">
                            <div class="input-group-btn">
                                <button type="button" class="btn buton2" aria-label="search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn buton1 width100">Liste Görünümü</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-b20">
            <div class="container-fluid margin-t40">
                <div class="row bg-color3">
                    <div class="col-md-12">
                        <h3 class="text-center color2 margin-b20">ANKARA // ZIRHLIOĞLU</h3>
                    </div>
                </div>
            </div>
            <div class="ContainerWrap">
                <div class="Container">
                    <div class="AllSpecsDataWrap">
                        <div class="SpecDataWrap" id="SpecDataWrap1">
                            @{int r = 0;}
                            @foreach (var item in storeGalleries)
                            {
                                <div class="@(r == 0 ? "SpecDataSlides activeNavSlide" : "SpecDataSlides InActiveNavSlide")">
                                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Image)" />
                                </div>
                                r++;
                            }
                            <div class="SpecSlideNavigation">
                                <div class="leftNavSpec SpecSlideNav"></div>
                                <div class="RightNavSpec SpecSlideNav"></div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-t40 margin-b40">
            <div class="container-fluid ">
                <div class="container">
                    <div class="row font-change13">
                        <div class="col-md-3 col-md-offset-1 ">
                            <p class="color1">
                                e-mail:
                            </p>
                            <p>
                                <a href="mailto:ankarazirlioğlu@info.com" class="color3">ankarazirlioğlu@info.com</a>
                            </p>
                            <p class="color1">
                                Adres:
                            </p>
                            <p>
                                FİDANLIK MAH. ATAÇ 1. SOKAK   <br />
                                NO: 34 KAT: 6
                            </p>
                            <button type="button" class="btn buton1 margin-t50">Yol Tarihi Al</button>
                            <div class="line4">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="padding-l20">
                                <p class="color1">
                                    Ürün Grupları:
                                </p>
                                <p>
                                    Non Foof, Temizlik Ürünleri
                                </p>
                                <p class="color1">
                                    Çalışma Saatleri:
                                </p>
                                <p>
                                    07:00 // 22:00
                                </p>
                                <p class="color1">
                                    Çalışma Günleri:
                                </p>
                                <p>
                                    Ptesi, Salı, Çarşamba, Perşembe <br />Cuma , Ctesi
                                </p>
                                <p class="color1">
                                    Telefon
                                </p>
                                <h4>
                                    0 312 5567899
                                </h4>
                            </div>
                            <div class="line5">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="padding-l10">
                                <p class="color1 text-center">Mağaza Müdürü</p>
                                <p class="text-center">Ahmet ÇAĞLAYAN</p>
                                <figure class="margin-t10 text-center">
                                    <img src="/assets/img/katalog-img.jpg" class="text-center" width="50%" height="25%" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-b40">
            <div class="container-fluid">
                <div class="row bg-color4">
                    <div class="container">
                        <div class="row">
                            <form action="/">
                                <fieldset>
                                    <center class="margin-t40">
                                        <h3 class="margin-b25">İletişim Formu</h3>
                                        <div class="input-group width50 margin-b20">
                                            <input type="text" class="form-control" id="name" name="Name" placeholder="Ad Soyad" required>
                                        </div>
                                        <div class="input-group width50 margin-b20">
                                            <input type="text" class="form-control" id="sektor" name="sektor" placeholder="Sektör" required>
                                        </div>
                                        <div class="input-group width50 margin-b20">
                                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" required>
                                        </div>
                                        <div class="input-group width50 margin-b20">
                                            <textarea class="form-control" placeholder="Mesaj" id="Message" name="Message"></textarea>
                                        </div>
                                        <button type="button" class="btn buton1 margin-t30 margin-b20 width25">Gönder</button>
                                    </center>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="margin-t10">
            <div class="container">
                <div class="row">
                    <h3 class="margin-b25 text-center">YENİ AÇILAN ŞUBELER</h3>
                    @{int g = 0;}
                    @foreach (var item in newStores)
                    {
                        <div class="@(g == 0 ? "col-md-3 col-md-offset-1 margin-b20" : "col-md-3 margin-b20")">
                            <div class="col-md-12  bg-color3 text-center">
                                <h4>
                                    <a href="@item.FriendlyUrl" class="title-box">@item.Title</a>
                                </h4>
                            </div>
                            <figure>
                                <a href="@item.FriendlyUrl"><img src="@(System.Configuration.ConfigurationManager.AppSettings["FilePath"] + item.Thumbnail)" class="img-responsive" /></a>
                            </figure>
                        </div>
                        g++;
                    }
                </div>
            </div>
        </section>
                        }
}