﻿
html, body, div, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,latin-ext);


body {
    line-height: 1;
    font-size: 14px !important;
    background-color: #fff;
    font-family: Roboto !important;
}

a {
    color: #BC0D05;
}

    a:hover, a:focus, a:active {
        color: #BC0D05;
    }

    a img {
        border: none;
    }

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

/*Font Setting*/
.font-12 {
    font-size: 12px;
}

.font-15 {
    font-size: 15px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-8 {
    font-size: 8pt;
}

.font-change13 {
    font-size: 13px;
}
/*Font Setting*/

/*Margin&Padding&Height&Width*/
.width100 {
    width: 100%;
}
.width50 {
    width: 50%;
}
.width25 {
    width: 25%;
}


.margin-t0 {
    margin-top: 0px;
}

.margin-l0 {
    margin-left: 0px;
}

.margin-t5 {
    margin-top: 5px;
}

.margin-t10 {
    margin-top: 10px;
}

.margin-t15 {
    margin-top: 15px;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-t25 {
    margin-top: 25px;
}

.margin-t30 {
    margin-top: 30px;
}

.margin-b40 {
    margin-bottom: 40px;
}
.margin-t50 {
    margin-top: 50px;
}

.margin-b25 {
    margin-bottom: 25px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-b30 {
    margin-bottom: 30px;
}

.margin-b50 {
    margin-bottom: 50px;
}


.margin-b100 {
    margin-bottom: 100px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.margin-t40 {
    margin-top: 40px;
}

.margin-l10 {
    margin-left: 10px;
}

.margin-l15 {
    margin-left: 15px;
}

.margin-r5 {
    margin-right: 5px;
}

.margin-r15 {
    margin-right: 15px;
}

.margin-l35 {
    margin-left: 35px;
}

.nomargin {
    margin: 0px !important;
}

.nopadding {
    padding: 0px !important;
}

.nomargint {
    margin-top: 0px;
}

.padding-b40 {
    margin-bottom: 40px;
}

.padding-t5 {
    padding-top: 5px;
}

.padding-t10 {
    padding-top: 10px;
}

.padding-t15 {
    padding-top: 15px;
}

.padding-t20 {
    padding-top: 20px;
}

.padding-b25 {
    padding-bottom: 25px;
}
.padding-b35 {
    padding-bottom: 35px;
}


.padding-b15 {
    padding-bottom: 15px;
}

.padding-b10 {
    padding-bottom: 10px;
}

.padding-r5 {
    padding-right: 5px;
}
.padding-l10{
    padding-left:10px
}
.padding-l15{
    padding-left:15px
}
.padding-l20{
    padding-left:20px
}
.padding-l30{
    padding-left:30px
}
/*Margin&Padding&Height&Width*/

/*Color&FontSize Setting*/
.bg-color1 {
    background-color: #f7f7f7;
}

.bg-color2 {
    background-color: #a91916;
}

.bg-color3 {
    background-color: #BC0D05;
}
.bg-color4{
    background-color:#e7e7e7
}
.color1 {
    color: #BC0D05;
}

.color2 {
    color: #fff;
}

.color3 {
    color: #333;
}

.font10 {
    font-size: 10px;
}

/*Color&FontSize Setting*/

blockquote {
    quotes: none;
}

    blockquote:before, blockquote:after {
        content: '';
        content: none;
    }


/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.inline-title {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
    margin: 20px 0px 20px 0px;
}

.text-under {
    text-decoration: underline;
}



.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}


.carousel-indicators {
    bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel .item {
    width: 100%;
}

.carousel .item2 {
    height: 200px;
}

.carousel .item1 img {
    width: 100%;
}

.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    color: #000;
    background-color: rgb(237, 29, 36);
    text-shadow: none;
}

.carousel-caption h3 {
    padding: 0.5em;
    color: #fff;
}

    .carousel-caption h3 span {
        font-size: 18px;
    }

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

/* Animation delays */
.carousel-caption h3:first-child {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.carousel-caption button {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}




.discount1 span {
    padding-top: 12px;
    display: block;
}

.discount1 {
    position: absolute;
    color: #fff;
    font-size: 18px;
    top: 0;
    left: 8px;
    font-weight: bold;
    width: 45%;
    height: 40%;
    text-align: center;
    z-index: 5;
}


.bg-ind li {
    border: #ED1D24 1px solid !important;
}

.bg-ind .active {
    background-color: #ED1D24 !important;
}

.caption1 {
    position: absolute;
    left: 0px;
    background: rgba(29, 29, 29, 0.4);
    height: 60px;
    bottom: 0px;
    width: 100%;
}

    .caption1 span {
        color: #fff;
        font-size: 13px;
        padding: 20px;
        display: block;
    }

.control1 {
    width: 5% !important;
    height: 15% !important;
    top: 65px !important;
}

.trans-bg {
    background-color: #111;
}

    .trans-bg img {
        opacity: 0.3;
    }

        .trans-bg img:hover {
            opacity: 0.9;
            -webkit-transition: opacity 1.1s ease;
            transition: opacity 1.1s ease;
            border: none;
        }

.border-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 20px;
}



.hover1 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

    .hover1:hover {
        -webkit-filter: saturate(8);
        filter: saturate(8);
    }

.form-control1 {
    border-radius: 0px !important;
}


.current a {
    border-bottom: 4px solid #ffc70b;
}


.nav > li > a {
    color: #000;
}

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none !important;
        background-color: transparent !important;
    }

.map-icon, .map-phone {
  padding: 3px;
    width: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    height: 20px;
}

.map-icon {
    background: #ed1d24;
}

.map-phone {
    background: #000;
}


.col-foo ul {
   
    margin: 0px;
}

    .col-foo ul li {
        padding-bottom: 10px;
    }

.col-foo, .col-foo a, .col-foo a:hover, .col-foo a:focus {
    color: #fff;
    text-decoration: none;
}

    .col-foo .social a {
        float: left;
        margin-right: 5px;
    }

.line3 {
    height: 1px;
    border: none;
    background: #cccccc;
    width: 50%;
    background: -webkit-gradient( linear, 0 0, 100% 0, from(rgba(50,50,50,0.01)), to(rgba(80,80,80,0.01)), color-stop(.5,#c9c9c9) );
    background: -moz-linear-gradient( left, rgba(0,0,0,0.001) 0%, rgba(201,201,201,1) 50%, rgba(0,0,0,0.001) 100% );
    background: -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background: -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background: linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    right: 0;
    position: absolute;
    top: 50px !important;
}

.line-dotted {
    border-right: 1px dotted #fff;
}

.line4 {
    background: url(/assets/img/line4.png);
    width: 2px;
    height: 228px;
    position: absolute;
    right: 15px;
    top: 18px;
}

.line5 {
    background: url(/assets/img/line4.png);
    width: 2px;
    height: 228px;
    position: absolute;
    right: 0px;
    top: 18px;
}


.carousel-indicators2 .active {
    background-color: #ED1D24 !important;
}

.carousel-indicators2 li {
    border: 1px solid #ED1D24 !important;
    margin-right: 55px !important;
}

    .carousel-indicators2 li span {
        display: inline;
        color: #ED1D24 !important;
        float: left;
        position: absolute;
        text-indent: 8px;
        top: -1px;
    }

.title_special:before {
    border-bottom: 1px dotted #8f8f8f;
}

.breadcrumb {
    background-color: transparent !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    height: 30px;
    line-height: 30px;
}

.breadcrumb-liner {
    margin-bottom: 20px !important;
    margin-top: 15px !important;
    /* fallback */
    background-color: #1a82f7;
    background-repeat: repeat-y;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#f6f6f6), to(#fff));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #f6f6f6, #ffff);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #f6f6f6, #fff);
    /* IE 10 */
    background: -ms-linear-gradient(left, #f6f6f6, #fff);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #f6f6f6, #fff);
}

.breadcrumb li a {
    color: #757575;
    font-size: 12px;
}

    .breadcrumb li a:hover, breadcrumb li a:active, breadcrumb li a:focus {
        color: #757575;
        text-decoration: none;
    }

.breadcrumb > li + li:before {
    color: #000 !important;
    content: ">" !important;
}

.breadcrumb > .active {
    color: #000 !important;
}

.content-desc a, .content-desc a:hover {
    color: #414141;
    text-decoration: none;
    line-height: 1.3em;
}

.title-border:after {
    border-bottom: 1px dotted #ccc;
    content: '';
    display: block;
    padding-top: 5px;
}

p.hashtag a {
    color: #000;
    font-size: 15px;
}

    p.hashtag a:hover, p.hashtag a:focus, p.hashtag a:active {
        color: #000 !important;
        text-decoration: none;
    }

.icon-fa a {
    color: #333;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 58px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: solid transparent;
    border-right: 45px solid rgba(255, 0, 0, 0.7);
    position: absolute;
    right: 49px;
    bottom: 2px;
}

    .arrow i {
        position: absolute;
        top: -25px;
        right: -35px;
        font-size: 14px;
        color: #fff;
    }

a.download {
    text-decoration: underline;
}

.map-shadow {
    -moz-box-shadow: inset 0 10px 19px -12px #ccc, inset 0 -11px 19px -5px #ccc;
    -webkit-box-shadow: inset 0 10px 19px -12px #ccc, inset 0 -11px 19px -5px #ccc;
    box-shadow: inset 0 10px 19px -12px #ccc, inset 0 -11px 19px -5px #ccc;
}
/*Select Box Special Setting*/
.chosen-select {
    width: 100%;
}

.chosen-select-deselect {
    width: 100%;
}

.chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}

    .chosen-container .chosen-drop {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
        margin-top: -1px;
        position: absolute;
        top: 100%;
        left: -9000px;
        z-index: 1060;
    }

    .chosen-container.chosen-with-drop .chosen-drop {
        left: 0;
        right: 0;
    }

    .chosen-container .chosen-results {
        color: #555555;
        margin: 0 4px 4px 0;
        max-height: 240px;
        padding: 0 0 0 4px;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

        .chosen-container .chosen-results li {
            display: none;
            line-height: 1.42857;
            list-style: none;
            margin: 0;
            padding: 5px 6px;
        }

            .chosen-container .chosen-results li em {
                background: #feffde;
                font-style: normal;
            }

            .chosen-container .chosen-results li.group-result {
                display: list-item;
                cursor: default;
                color: #999;
                font-weight: bold;
            }

            .chosen-container .chosen-results li.group-option {
                padding-left: 15px;
            }

            .chosen-container .chosen-results li.active-result {
                cursor: pointer;
                display: list-item;
            }

            .chosen-container .chosen-results li.highlighted {
                background-color: #337ab7;
                background-image: none;
                color: white;
            }

                .chosen-container .chosen-results li.highlighted em {
                    background: transparent;
                }

            .chosen-container .chosen-results li.disabled-result {
                display: list-item;
                color: #777777;
            }

        .chosen-container .chosen-results .no-results {
            background: #eeeeee;
            display: list-item;
        }

    .chosen-container .chosen-results-scroll {
        background: white;
        margin: 0 4px;
        position: absolute;
        text-align: center;
        width: 321px;
        z-index: 1;
    }

        .chosen-container .chosen-results-scroll span {
            display: inline-block;
            height: 1.42857;
            text-indent: -5000px;
            width: 9px;
        }

    .chosen-container .chosen-results-scroll-down {
        bottom: 0;
    }

        .chosen-container .chosen-results-scroll-down span {
            background: url("chosen-sprite.png") no-repeat -4px -3px;
        }

    .chosen-container .chosen-results-scroll-up span {
        background: url("chosen-sprite.png") no-repeat -22px -3px;
    }

.chosen-container-single .chosen-single {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555555;
    display: block;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

    .chosen-container-single .chosen-single span {
        display: block;
        margin-right: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .chosen-container-single .chosen-single abbr {
        background: url("chosen-sprite.png") right top no-repeat;
        display: block;
        font-size: 1px;
        height: 10px;
        position: absolute;
        right: 26px;
        top: 12px;
        width: 12px;
    }

        .chosen-container-single .chosen-single abbr:hover {
            background-position: right -11px;
        }

    .chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
        background-position: right 2px;
    }

    .chosen-container-single .chosen-single div {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 18px;
    }

        .chosen-container-single .chosen-single div b {
            background: url("../img/chosen-sprite.png") no-repeat 0 7px;
            display: block;
            height: 100%;
            width: 100%;
        }

.chosen-container-single .chosen-default {
    color: #777777;
}

.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}

    .chosen-container-single .chosen-search input[type="text"] {
        background: url("../img/chosen-sprite.png") no-repeat 100% -20px, #fff;
        border: 1px solid #ccc;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        margin: 1px 0;
        padding: 4px 20px 4px 4px;
        width: 100%;
    }

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.chosen-container-single-nosearch .chosen-search input[type="text"] {
    position: absolute;
    left: -9000px;
}

.chosen-container-multi .chosen-choices {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

    .chosen-container-multi .chosen-choices li {
        float: left;
        list-style: none;
    }

    .chosen-container-multi .chosen-choices .search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: transparent !important;
            border: 0 !important;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #555555;
            height: 32px;
            margin: 0;
            padding: 4px;
            outline: 0;
        }

        .chosen-container-multi .chosen-choices .search-field .default {
            color: #999;
        }

    .chosen-container-multi .chosen-choices .search-choice {
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        background-color: #eeeeee;
        border: 1px solid #ccc;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
        background-image: -o-linear-gradient(top, white 0%, #eeeeee 100%);
        background-image: linear-gradient(to bottom, white 0%, #eeeeee 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        color: #333333;
        cursor: default;
        line-height: 13px;
        margin: 6px 0 3px 5px;
        padding: 3px 20px 3px 5px;
        position: relative;
    }

        .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
            background: url("chosen-sprite.png") right top no-repeat;
            display: block;
            font-size: 1px;
            height: 10px;
            position: absolute;
            right: 4px;
            top: 5px;
            width: 12px;
            cursor: pointer;
        }

            .chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
                background-position: right -11px;
            }

    .chosen-container-multi .chosen-choices .search-choice-focus {
        background: #d4d4d4;
    }

        .chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
            background-position: right -11px;
        }

.chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: none;
}

.chosen-container-active .chosen-single {
    border: 1px solid #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #fff;
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: transparent;
        border-left: none;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div b {
            background-position: -18px 7px;
        }

.chosen-container-active .chosen-choices {
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

    .chosen-container-active .chosen-choices .search-field input[type="text"] {
        color: #111 !important;
    }

.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
}

    .chosen-disabled .chosen-single {
        cursor: default;
    }

    .chosen-disabled .chosen-choices .search-choice .search-choice-close {
        cursor: default;
    }

.chosen-rtl {
    text-align: right;
}

    .chosen-rtl .chosen-single {
        padding: 0 8px 0 0;
        overflow: visible;
    }

        .chosen-rtl .chosen-single span {
            margin-left: 26px;
            margin-right: 0;
            direction: rtl;
        }

        .chosen-rtl .chosen-single div {
            left: 7px;
            right: auto;
        }

        .chosen-rtl .chosen-single abbr {
            left: 26px;
            right: auto;
        }

    .chosen-rtl .chosen-choices .search-field input[type="text"] {
        direction: rtl;
    }

    .chosen-rtl .chosen-choices li {
        float: right;
    }

    .chosen-rtl .chosen-choices .search-choice {
        margin: 6px 5px 3px 0;
        padding: 3px 5px 3px 19px;
    }

        .chosen-rtl .chosen-choices .search-choice .search-choice-close {
            background-position: right top;
            left: 4px;
            right: auto;
        }

    .chosen-rtl.chosen-container-single .chosen-results {
        margin: 0 0 4px 4px;
        padding: 0 4px 0 0;
    }

    .chosen-rtl .chosen-results .group-option {
        padding-left: 0;
        padding-right: 15px;
    }

    .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
        border-right: none;
    }

    .chosen-rtl .chosen-search input[type="text"] {
        background: url("../img/chosen-sprite.png") no-repeat -28px -20px, #fff;
        direction: rtl;
        padding: 4px 5px 4px 20px;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url("../img/chosen-sprite@2x.png") !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/* */

.input1, .input:hover, .input:focus, .input:active {
    border-radius: 0px !important;
    outline: none !important;
    border: none;
    background: #e7e7e7;
    box-shadow: none !important;
}


.buton1 {
    color: #fff;
    border-radius: 0px !important;
    background-color: #BC0D05;
}
  .buton1:hover, .buton1:focus, .buton1:active, .buton2:hover, .buton2:focus, .buton2:active {
        color: #fff !important;
      
    }
    .buton1:hover, .buton1:focus, .buton1:active, .buton2:hover, .buton2:focus, .buton2:active , .buton3:hover, .buton3:focus, .buton3:active {
   
        text-decoration: none;
        outline: none !important;
        box-shadow: none;
    }
.buton2 {
    padding: 7px 12px;
    outline: none;
    border-radius: 0px;
    color: #fff;
    border: none;
    background: #BC0D05;
}

.buton3 {
    padding: 7px 12px;
    outline: none;
    border-radius: 50px;
    color: #000;
    border: none;
    background: #fff;
}

/*inside slider*/
.ContainerWrap {
    max-width: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0px auto;
    font-family: arial;
}

.Container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.clearFix {
    clear: both;
    height: 0;
}

.AllSpecsDataWrap {
}

.SpecDataWrap {
    position: relative;
    min-height: 300px !important;
    overflow: hidden;
}

    .SpecDataWrap .SpecDataSlides img {
        width: 100%;
        line-height: 0;
    }

.SpecDesc {
    position: absolute;
    top: 20%;
    width: 500px;
    color: #fff;
    z-index: 4;
}

.SpecDescRight {
    right: 10%;
}

.SpecDescLeft {
    left: 10%;
}

.SpecDesc h2 {
    font-size: 45px;
    margin: 20px 0px;
}

.SpecDescDetails {
    font-size: 20px;
}

.SpecDataSlides {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    left: 0px;
    top: 0px;
}

.SpecSlideNavigation {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.SpecSlideNav {
    width: 34px;
    height: 47px;
    cursor: pointer;
    margin-top: -23px;
    position: absolute;
    top: 50%;
}

.leftNavSpec {
    background: url(http://s19.postimg.org/hl1jbk6tv/arrows_Moto_Carousel.png) no-repeat;
    left: 5px;
    background-position: 0px 0px;
}

.RightNavSpec {
    background: url(http://s19.postimg.org/hl1jbk6tv/arrows_Moto_Carousel.png) no-repeat;
    right: 5px;
    background-position: 0px -48px;
}

.leftNavSpec:hover {
    background-position: 0px -97px;
}

.RightNavSpec:hover {
    background-position: 0px -145px;
}

.bulletsNavSpec {
    display: block;
    vertical-align: middle;
    position: absolute;
    bottom: 20px;
    left: 49%;
}

    .bulletsNavSpec ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .bulletsNavSpec ul li {
            display: inline-block;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            margin-right: 10px;
            cursor: pointer;
        }

.activeImage {
    background: #999;
}

.InActiveImage {
    background: #666;
}

@media screen and (max-width: 980px) {
    .SpecDesc h2 {
        font-size: 38px;
        margin: 10px 0px;
    }

    .SpecDescDetails {
        font-size: 18px;
    }

    .SpecDesc {
        top: 10%;
        width: 350px;
    }

    .SpecDescRight {
        right: 5%;
    }

    .SpecDescLeft {
        left: 5%;
    }

    .bulletsNavSpec {
        bottom: 5px;
    }

    .SpecSlideNav {
        top: 30%;
    }
}

@media screen and (max-width: 760px) {
    .SpecDesc {
        width: 90%;
        margin: 0 auto;
        position: static;
        color: #999;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .SpecDesc h2 {
        font-size: 28px;
    }

    .SpecDescDetails {
        font-size: 14px;
    }
}

 .title-box{
    color:#fff;

}
.title-box:hover, .title-box:focus, .title-box:active {
    color:#fff;
    text-decoration:none
 
}