﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Catalogs";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update")
    {
        Session["Catalogs"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Kataloglar</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Tür</th>
                        <th>Dönem</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var catalogs in Model.AllCatalogs.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @catalogs.Id
                            </td>
                            <td>
                                <span>@catalogs.Title</span>
                            </td>
                            <td>
                                <span>@catalogs.Type</span>
                            </td>
                            <td>
                                <span>@(Convert.ToDateTime(catalogs.StartingDate).ToShortDateString() + " - " + Convert.ToDateTime(catalogs.EndDate).ToShortDateString())</span>
                            </td>
                            <td>
                                @if (catalogs.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="catalogsIsActive" id="@catalogs.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="catalogsIsActive" id="@catalogs.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@catalogs.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@catalogs.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/CatalogsSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Catalogs"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Catalogs"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetCatalogs().Where(x => x.LanguageId == 1).OrderBy(x => x.Id))
                        {
                            var isHave = Model.GetCatalogs().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Catalogs"] != null && item.DataId == int.Parse(Session["Catalogs"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" maxlength="50" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Önizleme Görseli:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Thumbnail" name="Thumbnail" class="required" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" class="required" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Tür:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Type" id="Type" maxlength="50" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Başlangıç Tarihi:</label>
                        <div class="formRight"><input autocomplete="off" type="date" class="required" name="StartingDate" id="StartingDate" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Bitiş Tarihi:</label>
                        <div class="formRight"><input autocomplete="off" type="date" class="required" name="EndDate" id="EndDate" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Dosya:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="File" name="File" type="text" class="required" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerImage('File');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var catalogs = Model.AllCatalogs.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (catalogs != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/CatalogsUpdate">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@catalogs.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetCatalogs().Where(x => x.LanguageId == 1).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == catalogs.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@catalogs.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@catalogs.Title" maxlength="50" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Önizleme Görseli:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" class="required" size="60" maxlength="50" value="@catalogs.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" class="required" size="60" maxlength="50" value="@catalogs.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tür:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Type" value="@catalogs.Type" maxlength="50" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Başlangıç Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="date" class="required" name="StartingDate" value="@Convert.ToDateTime(catalogs.StartingDate).ToString("yyyy-MM-dd")" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Bitiş Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="date" class="required" name="EndDate" value="@Convert.ToDateTime(catalogs.EndDate).ToString("yyyy-MM-dd")" /><d /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Dosya:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="File" name="File" type="text" class="required" size="60" maxlength="50" value="@catalogs.File" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerImage('File');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (catalogs.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Catalogs"] = Id;
                Response.Redirect("Catalogs?action=add");
            }
        }
    }
}