﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "CitiesAndCounties";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update")
    {
        Session["CitiesAndCounties"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">İl ve ilçeler</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>İl/İlçe Adı</th>
                        <th>Bağlı Olduğu İl</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var citiesandcounties in Model.AllCitiesAndCounties)
                    {
                        var parentData = Model.AllCitiesAndCounties.Where(x => x.Id == citiesandcounties.ParentId).FirstOrDefault();
                        <tr class="gradeU">
                            <td>
                                @citiesandcounties.Id
                            </td>
                            <td>
                                <span>@citiesandcounties.Title</span>
                            </td>
                            <td>
                                <span>@(parentData != null ? parentData.Title : string.Empty)</span>
                            </td>
                            <td>
                                @if (citiesandcounties.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="citiesandcountiesIsActive" id="@citiesandcounties.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="citiesandcountiesIsActive" id="@citiesandcounties.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@citiesandcounties.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@citiesandcounties.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/CitiesAndCountiesSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" maxlength="50" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Bağlı Olduğu İl:</label>
                        <div class="formRight selectDown">
                            <select name="ParentId" class="aktifPasif" required="required">
                                <option value="0">- Yok -</option>
                                @foreach (var item in Model.AllCitiesAndCounties.Where(x => x.ParentId == 0 && x.Active == true))
                                {
                                    if (item != null)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
                                    }
                                    else if (action == "update")
                                    {
                                        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
                                        if (Id != 0 && Id > 0)
                                        {
                                            var citiesandcounties = Model.AllCitiesAndCounties.Where(x => x.Id == Id).FirstOrDefault();
                                            if (citiesandcounties != null)
                                            {
                                                <form id="usualValidate" class="mainForm" method="post" action="/Admin/CitiesAndCountiesUpdate">
                                                    <fieldset>
                                                        <div class="widget">
                                                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                                                            <input autocomplete="off" type="hidden" name="Id" value="@citiesandcounties.Id" />
                                                            <div class="rowElem noborder">
                                                                <label>Tanım:</label>
                                                                <div class="formRight">
                                                                    <input autocomplete="off" type="text" class="required" name="Title" value="@citiesandcounties.Title" maxlength="50" /><div class="fix"></div>
                                                                </div>
                                                            </div>
                                                            <div class="rowElem noborder">
                                                                <label>Bağlı Olduğu İl:</label>
                                                                <div class="formRight selectDown">
                                                                    <select name="ParentId" class="aktifPasif" required="required">
                                                                        <option value="0">- Yok -</option>
                                                                        @foreach (var item in Model.AllCitiesAndCounties.Where(x => x.ParentId == 0))
                                                                        {
                                                                            if (item != null && item.Id != citiesandcounties.Id)
                                                                            {
                                                                                if (item.Id == citiesandcounties.ParentId)
                                                                                {
                                                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@item.Id">@item.Title</option>
                                                                                }
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="rowElem noborder">
                                                                <label>Durum:</label>
                                                                <div class="formRight selectDown">
                                                                    <select name="Active" class="aktifPasif">
                                                                        @if (citiesandcounties.Active == true)
                                                                        {
                                                                            <option value="0" selected="selected">Aktif</option>
                                                                            <option value="1">Pasif</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="0">Aktif</option>
                                                                            <option value="1" selected="selected">Pasif</option>
                                                                        }
                                                                    </select>
                                                                </div><div class="fix"></div>
                                                            </div>
                                                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                                                            <div class="fix"></div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            }
                                            else
                                            {
                                                Session["CitiesAndCounties"] = Id;
                                                Response.Redirect("CitiesAndCounties?action=add");
                                            }
                                        }
                                    }
}