﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "SocialMedia";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>

@{
    var action = Request.QueryString["action"];
    if (action != "add" && action != "update" && action != "sort")
    {
        Session["SocialMedia"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Sosyal Medya Adresleri</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Logo</th>
                        <th>Link</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var socialmedia in Model.AllSocialMedia)
                    {
                        <tr class="gradeU">
                            <td>
                                @socialmedia.Id
                            </td>
                            <td>
                                <span>@socialmedia.Name</span>
                            </td>
                            <td>
                                <img height="50" src="@(System.Configuration.ConfigurationManager.AppSettings["UploadUrl"] + socialmedia.Image)" />
                            </td>
                            <td>
                                <span><a href="@socialmedia.Link" target="_blank">@socialmedia.Link</a></span>
                            </td>
                            <td>
                                @if (socialmedia.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="socialmediaIsActive" id="@socialmedia.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="socialmediaIsActive" id="@socialmedia.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@socialmedia.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@socialmedia.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/SocialMediaSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["SocialMedia"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["SocialMedia"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Name" id="Name" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İkon:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" class="required" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Link (http:// ile başlamalıdır):</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Link" id="Link" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.AllSocialMedia.OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Name</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="SocialMediaSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var socialmedia = Model.AllSocialMedia.Where(x => x.Id == Id).FirstOrDefault();
            if (socialmedia != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/SocialMediaUpdate">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@Id" />
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Name" value="@socialmedia.Name" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İkon:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@socialmedia.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Link (http:// ile başlamalıdır):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Link" value="@socialmedia.Link" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (socialmedia.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["SocialMedia"] = Id;
                Response.Redirect("SocialMedia?action=add");
            }
        }
    }
}