﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/Admin.cshtml";
    var CitiesAndCounties = Model.AllCitiesAndCounties.Where(x => x.ParentId != 0).OrderBy(x => x.Title);
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];
    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Stores"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Mağazalar</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Mağaza Adı</th>
                        <th>Görsel</th>
                        <th>E-posta</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stores in Model.AllStores.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @stores.Id
                            </td>
                            <td>
                                <span>@stores.Title</span>
                            </td>
                            <td>
                                @if (stores.Thumbnail.ToString() != string.Empty)
                                {
                                    <img height="50" src="@(System.Configuration.ConfigurationManager.AppSettings["UploadUrl"] + stores.Thumbnail)" />
                                }
                            </td>
                            <td>
                                <span>@stores.Email</span>
                            </td>
                            <td>
                                @if (stores.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="storesIsActive" id="@stores.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="storesIsActive" id="@stores.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@stores.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@stores.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/StoresSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
                        if (Session["Stores"] != null)
                        {
                            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Stores"].ObjectConvertToInt()" />
                            <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                        }

                        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                        {
                            <div class="rowElem noborder">
                                <label>Orijinal İçerik:</label>
                                <div class="formRight selectDown">
                                    <select id="DataId" name="DataId" class="required">
                                        <option value="">- Seçiniz -</option>
                                        @foreach (var item in Model.GetStores().Where(x => x.LanguageId == 1).OrderBy(x => x.Id))
                                        {
                                            var isHave = Model.GetStores().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                                            if (isHave == 0)
                                            {
                                                if (Session["Stores"] != null && item.DataId == int.Parse(Session["Stores"].ToString()))
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="ChooseLang"></div>
                        }
                        else
                        {
                            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
                        }
                    }
                    <div class="rowElem noborder">
                        <label>Mağaza Adı:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" maxlength="100" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Thumbnail:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Banner:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Banner" name="Banner" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Banner');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>E-posta:</label>
                        <div class="formRight"><input autocomplete="off" type="email" name="Email" id="Email" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Telefon:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Phone" id="Phone" maxlength="50" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Adres:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Address" id="Address" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İlçe:</label>
                        <div class="formRight selectDown">
                            <select name="County" class="aktifPasif" required="required">
                                <option value="">- Seçiniz -</option>
                                @foreach (var item in CitiesAndCounties)
                                {
                                    var parentData = Model.AllCitiesAndCounties.Where(x => x.Id == item.ParentId).FirstOrDefault();
                                    <option value="@item.Id">@(item.Title + " - " + parentData.Title)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Lokasyon:</label>
                        <div class="formRight">
                            <textarea name="Location" rows="5"></textarea><div class="fix"></div>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Ürün Grupları:</label>
                        <div class="formRight selectDown">
                            <div style="display:none;"><input autocomplete="off" type="checkbox" name="ProductGroups" value="0" checked></div>
                            @foreach (var item in Model.AllProductGroups.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.Title))
                            {
                                if (item != null)
                                {
                                    <input autocomplete="off" type="checkbox" name="ProductGroups" value="@item.DataId">@item.Title<div class="fix"></div>
                                }
                            }
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Çalışma Saatleri:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="WorkingHours" id="WorkingHours" placeholder="10:00 - 22:00" maxlength="100" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Çalışma Günleri:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="WorkingDays" id="WorkingDays" maxlength="100" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Mağaza Müdürü:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="StoreManager" id="StoreManager" maxlength="50" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Mağaza Müdürü Görseli:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="StoreManagerImage" name="StoreManagerImage" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('StoreManagerImage');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Friendly Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" placeholder="Boş bırakırsanız, mağaza adı baz alınacaktır." name="FriendlyUrl" id="FriendlyUrl" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Keywords:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Keywords" id="Keywords" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Description:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Description" id="Description" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
                        }
                        else if (action == "sort")
                        {
                            <div class="widget">
                                <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
                                <ul id="sortable">
                                    @foreach (var pageItem in Model.AllStores.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                                        <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                                    }
                                </ul>
                                <a href="#" class="btnIconLeftGreen" id="StoresSaveSort"><span>KAYDET</span></a>
                            </div>
                        }
                        else if (action == "update")
                        {
                            var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
                            if (Id != 0 && Id > 0)
                            {
                                var stores = Model.AllStores.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
                                if (stores != null)
                                {
                                    string[] productGroups = stores.ProductGroups.Split(',');
                                    <form id="usualValidate" class="mainForm" method="post" action="/Admin/StoresUpdate">
                                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                                        <fieldset>
                                            <div class="widget">
                                                <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                                                <input autocomplete="off" type="hidden" name="Id" value="@stores.DataId" />
                                                @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                                                {
                                                    <div class="rowElem noborder">
                                                        <label>Orijinal İçerik:</label>
                                                        <div class="formRight selectDown">
                                                            <select id="DataId" name="DataId" class="required">
                                                                <option value="">- Seçiniz -</option>
                                                                @foreach (var item in Model.GetStores().Where(x => x.LanguageId == 1).OrderBy(x => x.Title))
                                                                {
                                                                    if (item.DataId == stores.DataId)
                                                                    {
                                                                        <option value="@item.Id" selected="selected">@item.Title</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Id">@item.Title</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="ChooseLang"></div>
                                                }
                                                else
                                                {
                                                    <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@stores.DataId" />
                                                }
                                                <div class="rowElem noborder">
                                                    <label>Mağaza Adı:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" class="required" name="Title" value="@stores.Title" maxlength="100" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Thumbnail:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" value="@stores.Thumbnail" />
                                                        <div class="fix"><br /></div>
                                                        <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                                                    </div><div class="fix"></div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Banner:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" id="Banner" name="Banner" type="text" size="60" maxlength="50" value="@stores.Banner" />
                                                        <div class="fix"><br /></div>
                                                        <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Banner');" class="btn55" />
                                                    </div><div class="fix"></div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>E-posta:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="email" name="Email" value="@stores.Email" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Telefon:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="Phone" value="@stores.Phone" maxlength="50" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Adres:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="Address" value="@stores.Address" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>İlçe:</label>
                                                    <div class="formRight selectDown">
                                                        <select name="County" class="aktifPasif" required="required">
                                                            <option value="">- Seçiniz -</option>
                                                            @foreach (var item in CitiesAndCounties)
                                                            {
                                                                var parentData = Model.AllCitiesAndCounties.Where(x => x.Id == item.ParentId).FirstOrDefault();
                                                                if (item.Id == stores.County)
                                                                {
                                                                    <option value="@item.Id" selected="selected">@(parentData.Title + " - " + item.Title)</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@(item.Title + " - " + parentData.Title)</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Lokasyon:</label>
                                                    <div class="formRight">
                                                        <textarea name="Location" rows="5">@stores.Location</textarea><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Ürün Grupları:</label>
                                                    <div class="formRight selectDown">
                                                        <div style="display:none;"><input autocomplete="off" type="checkbox" name="ProductGroups" value="0" checked></div>
                                                        @foreach (var item in Model.AllProductGroups.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.Title))
                                                        {
                                                            if (productGroups.Contains(item.DataId.ToString()))
                                                            {
                                                                <input autocomplete="off" type="checkbox" name="ProductGroups" value="@item.DataId" checked>@item.Title<div class="fix"></div>
                                                            }
                                                            else
                                                            {
                                                                <input autocomplete="off" type="checkbox" name="ProductGroups" value="@item.DataId">@item.Title<div class="fix"></div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Çalışma Saatleri:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="WorkingHours" value="@stores.WorkingHours" placeholder="10:00 - 22:00" maxlength="100" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Çalışma Günleri</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="WorkingDays" value="@stores.WorkingDays" maxlength="100" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Mağaza Müdürü:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="StoreManager" value="@stores.StoreManager" maxlength="50" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Mağaza Müdürü Görseli:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" id="StoreManagerImage" name="StoreManagerImage" type="text" size="60" maxlength="50" value="@stores.StoreManagerImage" />
                                                        <div class="fix"><br /></div>
                                                        <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('StoreManagerImage');" class="btn55" />
                                                    </div><div class="fix"></div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Friendly Url:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" placeholder="Boş bırakırsanız, mağaza adı baz alınacaktır." name="FriendlyUrl" value="@stores.FriendlyUrl" maxlength="150" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Keywords:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="Keywords" value="@stores.Keywords" maxlength="150" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Description:</label>
                                                    <div class="formRight">
                                                        <input autocomplete="off" type="text" name="Description" value="@stores.Description" maxlength="150" /><div class="fix"></div>
                                                    </div>
                                                </div>
                                                <div class="rowElem noborder">
                                                    <label>Durum:</label>
                                                    <div class="formRight selectDown">
                                                        <select name="Active" class="aktifPasif">
                                                            @if (stores.Active == true)
                                                            {
                                                                <option value="0" selected="selected">Aktif</option>
                                                                <option value="1">Pasif</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="0">Aktif</option>
                                                                <option value="1" selected="selected">Pasif</option>
                                                            }
                                                        </select>
                                                    </div><div class="fix"></div>
                                                </div>
                                                <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                                                <div class="fix"></div>
                                            </div>
                                        </fieldset>
                                    </form>
                                }
                                else
                                {
                                    Session["Stores"] = Id;
                                    Response.Redirect("Stores?action=add");
                                }
                            }
                        }
}